@font-face {
    font-family: 'Vazir';
    src: url('../Fonts/Vazir.eot') format('embedded-opentype'), url('../Fonts/Vazir.ttf') format('truetype'), url('../Fonts/Vazir.woff') format('woff'), url('../Fonts/Vazir.woff2') format('woff2');
}

body {
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}
.container{
    text-align: center;
}
.container .button{
    width: 200px;
    background: #ec5c08;
    font-size: 25px;
    padding: 10px;
    border: none;
    font-family: 'vazir';
    cursor: pointer;
    color: #fff;
}
