
html, body, #canvas {
  padding: 0;
  margin: 0;
  height: 100%
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  margin: 0;
  z-index: 1;
  background: rgba(255, 255, 255, .8);
  border: solid 1px #CCC;
}

.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}